.map-menu-panel {
  background: #ffffff;
  border: 1px solid #333;
  border-radius: 5px;
  min-width: 200px;
  padding: .5rem 1rem;
}

.dropdown-item label {
  display: block;
}

.accessibility-btn-hover:hover  {
  border: 1px solid black !important; 
}
