@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.navbar-custom-style {
  top: 50px !important;
}

.map-container {
  display: flex;
  flex-wrap: wrap;

  .mapboxgl-map {
    margin-top: 110px;
    min-height: calc(100dvh - 230px);
  }
}

.sr-only {
  display: none;
}

.footer {
  background: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;

  .footer-title {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .title-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-item {
    border-right: 1px solid #fff;

    &:last-child {
      border-right: none;
    }
  }
}

#ucfhb {
  position: fixed !important;
}

.footer-logo-map {
  width:80% 
}


@include media-breakpoint-up(sm) {
  .map-container {
    .mapboxgl-map {
      margin-top: 120px;
      min-height: calc(100dvh - 245px);
    }
  }
}

.ucf-footer-social-link {
    background-image: url(../img/social-icons/social-links-gray.svg);
    background-repeat: no-repeat;
    background-size: 240px 66px;
    display: none;
    height: 33px;
    margin: 0 4px;
    overflow: hidden;
    width: 34px
}

.ucf-footer-social-link[href*=facebook] {
    background-position: 0 0;
    display: block
}

.ucf-footer-social-link[href*=facebook]:active,.ucf-footer-social-link[href*=facebook]:focus,.ucf-footer-social-link[href*=facebook]:hover {
    background-position: 0 100%
}

.ucf-footer-social-link[href*=twitter] {
    background-position: -34px 0;
    display: block
}

.ucf-footer-social-link[href*=twitter]:active,.ucf-footer-social-link[href*=twitter]:focus,.ucf-footer-social-link[href*=twitter]:hover {
    background-position: -34px 100%
}

.ucf-footer-social-link[href*=youtube] {
    background-position: -172px 0;
    display: block
}

.ucf-footer-social-link[href*=youtube]:active,.ucf-footer-social-link[href*=youtube]:focus,.ucf-footer-social-link[href*=youtube]:hover {
    background-position: -172px 100%
}

.ucf-footer-social-link[href*="ucf.edu/social"] {
    background-position: -69px 0;
    display: block
}

.ucf-footer-social-link[href*="ucf.edu/social"]:active,.ucf-footer-social-link[href*="ucf.edu/social"]:focus,.ucf-footer-social-link[href*="ucf.edu/social"]:hover {
    background-position: -69px 100%
}

.ucf-footer-social-link[href*=linkedin] {
    background-position: -138px 0;
    display: block
}

.ucf-footer-social-link[href*=linkedin]:active,.ucf-footer-social-link[href*=linkedin]:focus,.ucf-footer-social-link[href*=linkedin]:hover {
    background-position: -138px 100%
}

.ucf-footer-social-link[href*=instagram] {
    background-position: -206px 0;
    display: block
}

.ucf-footer-social-link[href*=instagram]:active,.ucf-footer-social-link[href*=instagram]:focus,.ucf-footer-social-link[href*=instagram]:hover {
    background-position: -206px 100%
}
