.map-container {
  .mapboxgl-map {
    min-height: calc(100dvh - 311px);
  }
}

.sr-only {
  display: none;
}

.footer {
  background: #3e3e3e;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 3rem 0;
  text-align: center;

  .footer-title {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .title-link {
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-item {
    border-right: 1px solid #fff;

    &:last-child {
      border-right: none;
    }
  }
}

.mapboxgl-ctrl-top-right {
  top: auto!important;
  bottom: 80px
}
