@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.navbar-custom-style {
  top: 50px !important;
}

.map-container {
  display: flex;
  flex-wrap: wrap;

  .mapboxgl-map {
    margin-top: 110px;
    min-height: calc(100dvh - 270px);
  }
}

.sr-only {
  display: none;
}

.footer {
  background: #000;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;

  .footer-title {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .title-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-item {
    border-right: 1px solid #fff;

    &:last-child {
      border-right: none;
    }
  }
}

#ucfhb {
  position: fixed !important;
}

.footer-logo-map {
  width:60% 
}


@include media-breakpoint-up(sm) {
  .map-container {
    .mapboxgl-map {
      margin-top: 120px;
      min-height: calc(100dvh - 255px);
    }
  }
}
